page-title{
    height: 40px;
    width: 40px;
}

.add-btn {
    border-radius: 5px !important;
}

.page-title button{
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    z-index: 9999;
}

.select2-hidden-accessible{
    position: relative !important;
}

a{
    text-decoration: none !important;
}